.grid {
    display: grid;
    background-color: blueviolet; /* kept this to see if any gaps would pop up in my resizing */
    border: 20px ridge rgb(177, 6, 6);
    max-height: 450px;
    max-width: 450px;
    align-items:absolute;
    overflow: hidden;
}
.gridItem {
    padding: 50%;
    box-sizing: content-box;
    background-color:white;
    max-height: 450px;
    max-width: 450px;
    
}
.title {
    text-align: center;
    background-color: cadetblue;
}
.center {
       text-align: center;
      }

      
