.grid {
    display: grid;
    background-color: blueviolet;
    border: 20px ridge rgb(177, 6, 6);
    max-height: 450px;
    max-width: 450px;
    align-items:absolute;
}
.gridItem {
    padding: 50%;
    box-sizing: content-box;
    background-color:white;
    max-height: 450px;
    max-width: 450px;
}
.title {
    text-align: center;
}
.center {
       text-align: center;
      
      }
